{%- block reference %}
    def set_{{name}}(self, values: {{file.resolve_reference_name(field, pip_import, True)}}) -> None:
        self.{{name}} = {{file.resolve_reference_name(field, pip_import)}}(values)

    def get_{{name}}(self) -> {{file.resolve_reference_name(field, pip_import, True)}}:
        return self.{{name}}
{%- endblock -%}
