{%- block basicimports %}
import json
{%- if file.avrotype == 'record' %}
from {{pip_import}}helpers import default_json_serialize, todict
from typing import Union
{%- endif -%}
{%- if file.avrotype == 'enum' %}
from enum import Enum
from {{pip_import}}helpers import default_json_serialize, DefaultEnumMeta, todict
{%- endif -%}
{% endblock %}