{%- include 'partials/header.j2' %}
{% include 'imports/basicImports.j2' %}
{% include 'imports/fileImports.j2'%}
{##}
{##}
{%- if file.type == 'enum' -%}
{%- include 'files/enum.j2' -%}
{%- elif file.type == 'record' -%}
{%- include 'files/record.j2' -%}
{%- endif -%}
{%- include 'partials/footer.j2' %}